/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** Header Section **/
header {
    background-color: #1F2025;
    padding: 30px 100px 35px 100px;
    
}

#hero {
    
    padding: 13% 0% 0% 0%; 
    display: flex;
    
    justify-content: center;
    
}
.hero2{
    position: relative;
}
.Main_text{
    text-align: center;
    line-height: 2;
    padding: 100px;
}
.Main_text2{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Main_Mobile_text{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.Main_text3{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Links_desktop{
    align-content: left;
    position: fixed;
    top: 20%;
    left: 0%;
    width: 15%;
    
    
}
.Links_Files_icons{
    
    position: fixed;
    top: 30%;
    left: 80%;
    width: 16%;
    
}



@media only screen and (min-width: 1001px) {
.Mobile_view{
    display: none;
}
   
}
@media only screen and (max-width: 1000px) {
#hero {
    display: none;
    }
.hero2 {
    display: none;
    }
footer{
    display: none;
    }
.Mobile_view {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
line-height: 2;
}

    
}
footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #1F2025;
  color: white;
  text-align: left;
  font-size: 25px;
  padding-left: 5%;
  
}
